:root {
	--logo-color:#8734b6;
	--bg-color:#382340;
	--text-color:#cd96df;
	--textarea-color:#d8abd6;
}

@font-face {
	font-family:latin-wide;
	src: url(LATINWD.TTF);
}

body {
	background-color: var(--bg-color);
}
.Flex1 {
	display: flex;
}
.Title1 {
	font-family: latin-wide;
	font-size:48px;
	color: var(--logo-color);
	margin-bottom:-24px;
	margin-top:-10px;
}
.Title2 {
	font-family: latin-wide;
	font-size:32px;
	color: var(--logo-color);
	margin-bottom:-24px;
	margin-top:-2px;
	margin-left: 15px;
	margin-right: 15px;
}
.Subtitle {
	font-size:28px;
	margin-bottom:-10px;
}
p {
	font-family: Trebuchet MS;
	color: var(--text-color);
	font-size:18px;
}
textarea {
	font-family: Trebuchet MS;
	resize: none;
	width:90%;
	color:var(--bg-color);
	background-color:var(--textarea-color);
	border:2px solid var(--text-color);
}
button {
	font-family: Trebuchet MS;
	font-size:24px;
	cursor: pointer;
	transition-duration: 0.2s;
	color:var(--text-color);
	background-color:var(--bg-color);
	border:2px solid var(--text-color);
	font-weight:bold;
}
button:hover {
	color:var(--bg-color);
	background-color:var(--text-color);